.mb_menu{
	position:absolute;
	top:154px;
	left:0px;
	z-index:11;
	font-family: CaviarDreams, Arial, sans-serif;
	opacity: 0.8;
}
.mb_menu a{
	background-color:#000;
	margin-bottom:2px;
	opacity:0.9;
	display:block;
	width:150px;
	height:98px;
	color:#fff;
	line-height:98px;
	text-align:right;
	padding-right: 20px;
	text-transform:uppercase;
	outline:none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-transition: all 0.2s ease-in;
}
.mb_menu a:hover{
	color:#000;
	background-color:#fff;
	width: 277%;
	opacity:0.7;
}

.heading h1{
	position:absolute;
	top:8px;
	left:98px;
	font-size:60px;
	color:#fff;
	text-shadow:0px 0px 3px black;
	font-family: CaviarDreams, Arial, sans-serif;
	z-index:4;
}

.heading h2{
	position: absolute;
	top: 80px;
	left: 500px; 
	font-size: 15px;
	color: #fff;
	text-shadow:0px 0px 3px black;
	font-family: CaviarDreams, Arial, sans-serif;
	z-index:4;
}


#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:13px;
	background:rgba(0,0,0,0.7);
	opacity:0.9;
	height:40px;
	padding-bottom:5px;
	text-transform:uppercase;
	z-index:4;
} 

#footer a {
	padding:5px 10px;
	letter-spacing:1px;
	float:right;
	opacity:0.5;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition:all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	-transition: all 0.1s ease-in;
}

#footer a.git {-webkit-filter: invert(100%);} 
#footer a.facebook:hover {opacity: 1.0;} 
#footer a.git:hover {opacity: 1.0;}
#footer a.twitter:hover {opacity: 1.0;} 
